    <div class="trand-right-single d-flex">
        <div class="trand-right-img">
            <img src="assets/img/trending/right1.jpg" alt="">
        </div>
        <div class="trand-right-cap">
            <span class="color1">Concert</span>
            <h4><a [routerLink]="['/news',1]">Come, learn more about concert with us.</a></h4>
        </div>
    </div>
    <div class="trand-right-single d-flex">
        <div class="trand-right-img">
            <img src="assets/img/trending/right2.jpg" alt="">
        </div>
        <div class="trand-right-cap">
            <span class="color3">sea beach</span>
            <h4><a [routerLink]="['/news',2]">All the beach and sea lover, for you.</a></h4>
        </div>
    </div>
    <div class="trand-right-single d-flex">
        <div class="trand-right-img">
            <img src="assets/img/trending/right3.jpg" alt="">
        </div>
        <div class="trand-right-cap">
            <span class="color2">Bike Show</span>
            <h4><a [routerLink]="['/news',3]">Bikes are fascinating to almost all of us.</a></h4>
        </div>
    </div> 
    <div class="trand-right-single d-flex">
        <div class="trand-right-img">
            <img src="assets/img/trending/right4.jpg" alt="">
        </div>
        <div class="trand-right-cap">
            <span class="color4">Snowfalls and mountain</span>
            <h4><a [routerLink]="['/news',4]">Who does not love snow and mountains covered in it.</a></h4>
        </div>
    </div>
    <div class="trand-right-single d-flex">
        <div class="trand-right-img">
            <img src="assets/img/trending/right5.jpg" alt="">
        </div>
        <div class="trand-right-cap">
            <span class="color1">Skating</span>
            <h4><a [routerLink]="['/news',5]">Who does not want to stake atleast once.</a></h4>
        </div>
    </div>
